<article class="post-card">
    <div class="post-header">
        {{#if feature_image}}
        <img class="post-image" src="{{img_url feature_image}}" />
        {{/if}}
    </div>
    <h2 class="post-card-title">{{title}}</h2>
    <p class="post-card-blurb">{{excerpt}}</p>

    {{#if tags}}
    <div class="post-card-footer">
        {{#primary_tag}}
        <div class="post-card-tag">
            <img class="post-card-tag-icon" src="{{feature_image}}" />
            {{name}}
        </div>
        {{/primary_tag}}
    </div>
    {{/if}}


</article>