{{!< default}}

{{#post}}
<article class="post-content {{post_class}}">

    <header class="post-content-header">
        <h1 class="post-content-title">{{title}}</h1>
    </header>

    {{#if custom_excerpt}}
        <p class="post-content-excerpt">{{custom_excerpt}}</p>
    {{/if}}

    {{#if feature_image}}
        <figure class="post-content-image">
            <img class="kg-image" src="{{feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
            {{#if feature_image_caption}}
                <figcaption>{{feature_image_caption}}</figcaption>
            {{/if}}
        </figure>
    {{/if}}

    <div class="post-content-body gh-content">
        {{content}}
    </div>

    {{!-- <section class="post-content-comments">
        If you want to embed comments, this is a good place to do it!
    </section> --}}

</article>
{{/post}}
