{{!< default}}

{{#post}}
<article class="post-content {{post_class}}">

    <header class="post-content-header">
        <h1 class="post-content-title">{{title}}</h1>
    </header>

    {{#if custom_excerpt}}
        <p class="post-content-excerpt">{{custom_excerpt}}</p>
    {{/if}}

    {{> "feature-image"}}

    <div class="post-content-body gh-content">
        {{content}}
    </div>

    {{#if comments}}
        <div class="gh-comments">
            {{comments}}
        </div>
    {{/if}}

</article>
{{/post}}
